In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [2]:
df_crimes = pd.read_csv(r'C:\Users\sanku\OneDrive\Desktop\India_Crime - Copy\India_Crime - Copy\01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [3]:
df_crimes.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [6]:
main_df = df_crimes[['STATE/UT', 'DISTRICT', 'YEAR',  'TOTAL IPC CRIMES']]

In [7]:
main_df.head()

         STATE/UT       DISTRICT  YEAR  TOTAL IPC CRIMES
0  ANDHRA PRADESH       ADILABAD  2001              4154
1  ANDHRA PRADESH      ANANTAPUR  2001              4125
2  ANDHRA PRADESH       CHITTOOR  2001              5818
3  ANDHRA PRADESH       CUDDAPAH  2001              3140
4  ANDHRA PRADESH  EAST GODAVARI  2001              6507

In [4]:
new_df = df_crimes.iloc[:,3:]

In [5]:
new_df.head()

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,101,60,17,50,0,50,46,30,16,9,...,30,1131,16,149,34,175,0,181,1518,4154
1,151,125,1,23,0,23,53,30,23,8,...,69,1543,7,118,24,154,0,270,754,4125
2,101,57,2,27,0,27,59,34,25,4,...,38,2088,14,112,83,186,0,404,1262,5818
3,80,53,1,20,0,20,25,20,5,1,...,23,795,17,126,38,57,0,233,1181,3140
4,82,67,1,23,0,23,49,26,23,4,...,41,1244,12,109,58,247,0,431,2313,6507

In [9]:
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(new_df)

In [10]:
kmeans = KMeans(n_clusters=3, init='k-means++')
kmeans.fit(data_scaled)

C:\Users\sanku\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [12]:
df_crimes['cluster'] = kmeans.labels_

In [13]:
peaceful_areas = df_crimes[df_crimes['cluster'] == 0]
sensitive_areas = df_crimes[df_crimes['cluster'] == 1]
moderate_areas = df_crimes[df_crimes['cluster'] == 2]

In [14]:
sensitive_areas

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,cluster
70,ASSAM,TOTAL,2001,1356,481,40,817,0,817,1480,...,5805,59,850,4,1248,0,2010,9315,36877,1
115,BIHAR,TOTAL,2001,3643,3419,250,888,0,888,2159,...,7544,859,562,21,1558,83,2406,36667,88432,1
135,CHHATTISGARH,TOTAL,2001,880,529,45,959,0,959,207,...,5477,70,1763,161,840,0,689,15790,38460,1
169,GUJARAT,TOTAL,2001,1226,537,94,286,0,286,998,...,13760,67,756,111,3667,0,2924,50719,103419,1
253,JHARKHAND,TOTAL,2001,1507,866,143,567,0,567,441,...,2254,217,297,5,484,2,420,8777,25447,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,JHARKHAND,TOTAL,2012,1694,842,92,812,0,812,1056,...,4785,302,284,10,1261,3,1594,14818,40946,1
8536,KARNATAKA,TOTAL,2012,1860,1923,71,621,0,621,1451,...,20350,218,2978,100,3684,32,876,58468,134021,1
8557,KERALA,TOTAL,2012,374,497,107,1019,0,1019,281,...,21170,32,3735,498,5216,0,48,101582,158989,1
8734,ODISHA,TOTAL,2012,1548,1879,54,1458,0,1458,1542,...,8223,525,4187,304,2638,0,3605,22203,67957,1
8997,DELHI UT,DELHI UT TOTAL,2012,521,439,82,706,0,706,3970,...,1747,134,727,208,1985,0,913,15408,54287,1

In [15]:
peaceful_areas

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,cluster
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,1131,16,149,34,175,0,181,1518,4154,0
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,1543,7,118,24,154,0,270,754,4125,0
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,2088,14,112,83,186,0,404,1262,5818,0
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,795,17,126,38,57,0,233,1181,3140,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,1244,12,109,58,247,0,431,2313,6507,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,0,1,0,1,0,0,32,60,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,0,1,0,1,0,0,32,60,0
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,186,0,2,0,1,0,44,392,787,0
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,632,0,7,2,5,0,219,1668,3494,0
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,818,0,9,2,6,0,263,2060,4281,0

In [16]:
moderate_areas

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,cluster
28,ANDHRA PRADESH,TOTAL,2001,2602,1555,136,871,0,871,1182,...,34947,420,3544,2271,5791,7,7400,34344,130089,2
351,MADHYA PRADESH,TOTAL,2001,2425,2870,125,2851,0,2851,956,...,30895,609,7063,751,2562,0,3297,85143,181741,2
397,MAHARASHTRA,TOTAL,2001,2839,1454,101,1302,0,1302,985,...,30212,308,2823,1120,6090,1,8993,42963,171233,2
529,RAJASTHAN,TOTAL,2001,1259,1923,63,1049,0,1049,2718,...,27485,376,2878,56,5532,1,4221,62347,155185,2
650,UTTAR PRADESH,TOTAL,2001,7601,7964,1186,1958,0,1958,4330,...,17816,2211,2870,2575,7365,0,7129,57839,178129,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8657,MAHARASHTRA,TOTAL,2012,2712,2168,171,1839,0,1839,1583,...,28392,329,3935,1294,7415,0,13311,46668,202700,2
8806,RAJASTHAN,TOTAL,2012,1461,1538,98,2049,0,2049,3243,...,17614,478,2352,18,13312,0,8284,70240,170948,2
8851,TAMIL NADU,TOTAL,2012,1949,2954,44,737,0,737,1945,...,22100,110,1494,382,1965,0,15499,124176,200474,2
8938,UTTAR PRADESH,TOTAL,2012,4966,4811,1410,1963,0,1963,8878,...,12290,2244,3247,8,7661,0,14406,68538,198093,2
8982,WEST BENGAL,TOTAL,2012,2252,2854,522,2046,0,2046,5117,...,15923,593,3345,556,19865,12,4385,64482,161427,2